#main
  .jumbotron
    %h1
      Welcome to Gonzoft
    %br
    %br
    %a.btn.btn-large.btn-success{"ng-show" => "models.user", href: "/#/record"} Get Inside
    %a.btn.btn-large.btn-success{"ng-hide" => "models.user", href: "/#/users/login"} Login
