%div{"ng-controller" => "UsersCtrl"}
  %h2.auth-form-heading {{user.name}}'s public profile
  %div
    %form{name: "profileUpdate", role: "form"}
      .col-md-7.form-group
        .col-md-4{"ng-switch" => "isAdmin() || isStaff()"}
          %span{"ng-switch-when" => "true"}
            %label{for: "positions"} Position:
            %select#positions.form-control{"ng-options" => "position.id as position.name for position in positions", "ng-model" => "user.position_id"}
          %span{"ng-switch-default" => ""}
            %h3 
              %small Current title: 
              {{ user.position.name }}
        .col-md-4{"ng-show" => "isAdmin()"}
          %label{for: "roles"} Roles:
          %select#roles.form-control{"ng-options" => "role.id as role.name for role in roles", "ng-model" => "user.roles_attributes[0].id", required: true}
        .col-md-4
          %label{for: "name"} Nick name:
          %input.form-control#name{type: "text", placeholder: "Name", "ng-model" => "user.name", required: true}
        .col-md-8
          %label{for: "name"} Full name:
          %input.form-control#full_name{type: "text", placeholder: "Full Name", "ng-model" => "user.full_name", required: true}
        .col-md-4
          %label{for: "name"} Date of birth:
          %input.form-control#date_of_birth{type: "date", placeholder: "dd/mm/yyyy", "ng-model" => "user.date_of_birth"}
        .col-md-5
          %label{for: "email"} Email (login):
          %input.form-control#email{type: "email", placeholder: "Email address", "ng-model" => "user.email", required: true}
        .col-md-4
          %label{for: "email"} Phone:
          %input.form-control#phone{type: "phone", placeholder: "Phone", "ng-model" => "user.phone", "ui-mask"=>"'(999) 999-9999'" }
        .col-md-3
          %label{for: "password"} Password:
          %input.form-control#password{type: "email", placeholder: "Password", "ng-model" => "user.password"}
      .col-md-5.form-group
        %label{for: "fileToUpload"} Add or modify your profile picture:
        .row{"ng-controller" => "FileUploadCtrl"}
          .col-md-2
            %img#pictureToShow{"ng-src" => "/images/{{user.name}}?", width: "50px", height: "50px", "onerror" => "if(this.src != '/images/default.jpeg') this.src='/images/default.jpeg';"}
          .col-md-6
            %input#fileToUpload{type: "file", accept:"image/*", multiple: true, "ng-model-instant" => true, "onchange" => "angular.element(this).scope().setFiles(this)"}
            .dropbox#dropbox{"ng-class" => "dropClass"}
              %span {{dropText}}
            #fileLength{"ng-show" => "files.length"}
              %div{"ng-repeat" => "file in files.slice(0)"}
                %span
                  %strong Uploading File:
                  {{file.webkitRelativePath || file.name}}
                (
                %span{"ng-switch" => "file.size > 1024*1024"}
                  %span{"ng-switch-when" => "true"} {{ file.size /1024 /1024 | number:2}} MB
                  %span{"ng-switch-default" => ""} {{ file.size /1024 | number:2}} kB
              .progress.progress-bar-success{"ng-show" => "progressVisible"}
                .progress-bar.progress-bar-success{role: "progressbar", "aria-valuenow" => "{{progress}}", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "witdh: {{progress}}%"}
                  %span {{progress}}%
      %span.clearfix
      %button.btn.btn-large.btn-primary{type: "submit", "ng-click" => "updateProfile(user)", "ng-disabled" => "profileUpdate.$invalid || processing"} Update info