%div
    %form.form{:name => "updateMySkills"}
        %h2.auth-form-heading {{user.name}}'s Skills
        .controls
            %div{"ng-repeat" => "user_skill in models.user.user_skills"}
                %select.input-small{"ng-model" => "user_skill.skill_id", "ng-options" => "skill.id as skill.name for skill in availableSkills"}
                    %option{value: "0"}Select Skill
                %rating{"ng-model" => "user_skill.years", "max" => "6", "readonly" => "isReadonly", "o-hover" => "hoveringOver(value)", "on-leave" => "overStar = null"} {{user_skill.years}} Experience
                %a.btn.btn-tiny.btn-danger{"ng-click" => "deleteSkill(user_skill.id"} X
            %a.btn.btn-tiny.btn-success{"ng-click" => "addSkill()"} +
            %input.btn.btn-large.btn-primary{type: "submit", "ng-click" => "updateSkills()", "ng-disabled" => "processing", value: "Update Skills"}
/ <div >       
/     <form name="updateMySkills" class="form">

/         <h2 class="auth-form-heading">{{user.name}}'s Skills</h2><br/>
     
/         <div class="controls">

/             <div ng-repeat="user_skill in models.user.user_skills">
/                 </br>
/                 <select class="input-small" ng-model="user_skill.skill_id" ng-options="skill.id as skill.name for skill in availableSkills">
/                     <option value="0">Select Skill</option>
/                 </select>

/                 <rating ng-model="user_skill.years" max="6" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> {{user_skill.years}} years 
/                 <a class="btn btn-tiny btn-danger" ng-click="deleteSkill(user_skill.id)"> X </a>
/             </div>

/             </br>
/             <a class="btn btn-tiny btn-success" ng-click="addSkill()">+</a>
/             <input class="btn btn-large btn-primary" type="submit" ng-click="updateSkills()" ng-disabled="processing" value="Update Skills" />
/         </div>
/     </form>
/ </div