.row.clearfix.row_day
  .col-md-1
    {{day.date}}
  .col-md-1#add_entry
    {{day.weekday}}
    %a{ :href => "", "ng-click" => "addDay(day)", "ng-hide" => "day.isExtra", "class" => "ng-hide"} 
      %span.pull-right.glyphicon.glyphicon-plus-sign
    %a{ :href => "", "ng-click" => "removeDay(day)", "ng-show" => "day.isExtra", "class" => "ng-hide"} 
      %span.pull-right.glyphicon.glyphicon-trash
  .col-md-2
    %select{ "id" => "daytype_dropdown_" + "{{day.id}}", "ng-options" => "daytype.name for daytype in daysType", "ng-model" => "selectedDayType", "ng-change" => "setDayType(day, selectedDayType)" }
  .col-md-2
    %select{ "id" => "client_dropdown_" + "{{day.id}}", "ng-options" => "client.name for client in clients", "ng-model" => "selectedClient", "ng-change" => "setClientProjects(day, selectedClient)" }
  .col-md-2
    %select{ "id" => "project_dropdown_" + "{{day.id}}", "ng-options" => "project.name for project in projects", "ng-model" => "selectedProject", "ng-change" => "setProject(day)" }
  .col-md-1
    %input.form-control.tiny_input#hours{ "type" => "text", "ng-model" => "day.hours" }
  .col-md-2
    %input.form-control.small_input#notes{ "type" => "text", "placeholder" => "Enter comments here" }  
  .col-md-1.text-center
    %span.glyphicon.glyphicon-calendar