.row.clearfix.row_day_heading#header
  .col-md-1
    %strong
      Date
  .col-md-1
    %strong
      Weekday
  .col-md-2
    %strong
      Type
  .col-md-2
    %strong  
      Client Name
  .col-md-2  
    %strong
      Project Name
  .col-md-1
    %strong
      Hours #
  .col-md-2
    %strong
      Notes
  .col-md-1
    %strong
      Replicate