%hr
.row.clearfix.well.custom_well#date_filter{ "ng-model" => "TimeStatisticsCtrl"}
  .col-md-2
    Uncompleted
    %span.badge#uncompleted_days
      {{ getUncompleted() }}
  .col-md-2
    Total Hours
    %span.badge#total_hours
      {{ getTotal() }}
  .col-md-2
    Extra Hours
    %span.badge#extra_hours
      {{ getExtraTime() }}
  .col-md-2
    Total lines
    %span.badge#total_lines
      {{ getTotalEntries() }}
  .col-md-2
    Extra lines
    %span.badge#extra_lines
      {{ getTotalExtraEntries() }}
  .col-md-2
    Total Days
    %span.badge#extra_lines
      {{ getTotalDays() }}