<div ng-controller="UsersCtrl">
    
    <h2 class="auth-form-heading">{{user.name}}'s public profile</h2><br/>
    <form name="profileUpdate" role="form"> 
        <div class="form-group">
            <label for="name">Name (to be displayed): </label>
                
            <input id="name" type="text" class="form-control input-large" placeholder="Name" ng-model="user.name" required>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
                
            <input id="email" type="email" class="form-control input-large" placeholder="Email address" ng-model="user.email" required>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
                
            <input id="password" type="password" class="form-control input-large" placeholder="Password" ng-model="user.password">
        </div>
        <div class="form-group">
            <div >
                <label for="roles"> Roles:</label>
                <select ng-options="role.id as role.name for role in roles" ng-model="models.user.roles[0].id">
                    
                </select>
            </div>
        </div>
                
        <button class="btn btn-large btn-primary" type="submit" ng-click="updateProfile(user)" ng-disabled="profileUpdate.$invalid || processing" > Update my info </button>
    </form>

</div>