<div ng-controller="UsersCtrl">
  <h2 class="auth-form-heading">{{user.name}}'s public profile</h2><br/>
  <div ng-controller="FileUploadCtrl">
    <form name="profileUpdate" role="form">
     <div class="form-group">
      <label for="fileToUpload">Add or modify your profile picture: </label>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-2">
            <object data="/images/{{models.user.name}}" width="100px" height="100px" type="image/png"> <img id="pictureToShow" src="/images/default.jpeg" width="100px" height="100px"/> </object>
          </div>
          <div class="col-md-10">        
            <input accept="image/*" type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)"/>             
            <div id="dropbox" class="dropbox" ng -class="dropClass"><span>{{dropText}}</span></div>
            <div id="fileLength" ng-show="files.length">
              <div ng-repeat="file in files.slice(0)">
                <span><strong>Uploading File:</strong> {{file.webkitRelativePath || file.name}}</span>
                (<span ng-switch="file.size > 1024*1024">
                  <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                  <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>)
              </div>
              <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                  <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Name (to be displayed): </label>
          <input id="name" type="text" class="form-control input-large" placeholder="Name" ng-model="user.name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email (login!): </label>
          <input id="email" type="text" class="form-control input-large" placeholder="Email address" ng-model="user.email" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="password">Password: </label>          
          <input id="password" type="password" class="form-control input-large" placeholder="Password" ng-model="user.password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div ng-show="has_role('admin')">
            <label for="roles"> Roles:</label>
            <select ng-model="models.user.roles[0].id" ng-options="role.id as role.name for role in roles">
            </select>     
          </div>
        </div>            
      </div>
    </div>
      <button class="btn btn-large btn-primary" type="submit" ng-click="updateProfile(user)" ng-disabled="processing"/> Update my info </button>
    </form>
  </div>
</div>